html(lang='en')
  head
    title Our Locations - About Us - Nuffield Health Careers 
    link(rel='shortcut icon', href='/favicon.ico')
    link(rel='icon', type='image/png', sizes='192x192', href='/android-chrome-192x192.png')
    link(rel='apple-touch-icon', sizes='180x180', href='/apple-touch-icon-180x180.png')
    link(rel='icon', type='image/png', sizes='16x16', href='/favicon-16x16.png')
    link(rel='icon', type='image/png', sizes='32x32', href='/favicon-32x32.png')
    link(href='stylesheets/style.css', type='text/css', rel='stylesheet')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(href='stylesheets/locations.css', type='text/css', rel='stylesheet')
    link(type='text/css', rel='stylesheet', href='stylesheets/simplePagination.css')
    link(type='text/css', rel='stylesheet', href='stylesheets/datepicker.css')
    style(type='text/css').
      #background-image { background-image: url(https://www.nuffieldhealth.com/local/c8/a0/5cc8fc1541d7a7626ae2c2ebedb6/battle-ropes-largest.jpg); }
      @media (max-width: 1200px) {
      #background-image { background-image: url(https://www.nuffieldhealth.com/local/4c/2f/9461239a488f9b729126d897f4be/battle-ropes-large.jpg); }
      }
      @media (max-width: 900px) {
      #background-image { background-image: url(https://www.nuffieldhealth.com/local/dd/d0/0d3183df40fb869a33dd72ed9eda/battle-ropes-medium.jpg); }
      }
      @media (max-width: 480px) {
      #background-image { background-image: url(https://www.nuffieldhealth.com/local/15/7d/43882e0b4eeb8571b45ef5e2f35d/battle-ropes-small.jpg); }
      }
      span.glyphicon {
      font-size: 40px;
      }
      span{
      font-size:19px;
      }
      .m-role-list .icon-container{
      position:none;
      }
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    script(src='javascripts/locations.js')
    script(src='javascripts/add-location.js')
    script(src='javascripts/jquery.simplePagination.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.3.2/js/mdb.min.js')
    script(src='javascripts/datepicker.js')
    script(src='javascripts/locales/en.js')
    script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDE7w_rtqbat1VAQ8ReZJbdy87w0bEFJWU')
  body.page-our-locations.navlevel-3.doctype-locationslandingpage(style='background-color: #f1f1f1;')
    // Skip links - Accessibility
    ul.skip-links.visuallyhidden
      li
        a(href='#main') Skip to content
      li
        a(href='#navigation-primary') Main site navigation
      li
        a(href='#footer') Share links and site information
    #top.container(style='min-width:1700px;')
      // Modal for association
      #addlocationModal.modal.fade(role='dialog')
        .modal-dialog
          // Modal content
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal') ×
              h4.modal-title Add Location
            .modal-body
              input#modal-location-type-id(style='display:none;')
              input#modal-association-type-id(style='display:none;')
              input#modal-association-child-product-id(style='display:none;')
              .dropdown(style='background-color:#fff;')
                label(style='min-width:100px;')
                  strong Location Type:
                // 
                input#location-type-name(style='margin-left: 40px; max-height:34px;')
                // 
                button.btn.btn-default.dropdown-toggle(data-toggle='dropdown', style='margin-left: 0px;')
                  | View
                  span.caret
                ul#modal-location-dropdown.dropdown-menu(style='margin-left:380px; width:200px; height:390px;')
                  li
                    a#1.location-type-name Fitness and Wellbeing Centre
                  li
                    a#2.location-type-name Cluster
                  li
                    a#3.location-type-name Region
                  li
                    a#4.location-type-name Sales Channel
                  li
                    a#5.location-type-name Hospital
                  li
                    a#6.location-type-name Site
              .row
                label(style='min-width:100px;')
                  strong Location Name:
                // 
                input#location-name(style='margin-left: 40px; max-height:34px; margin-top:4px;')
              .row
                label(style='min-width:100px;')
                  strong Location Code:
                // 
                input#location-code(style='margin-left: 40px; max-height:34px; margin-top:4px;')
              .row
                label(style='min-width:100px;')
                  strong Location Label:
                // 
                input#location-label(style='margin-left: 40px; max-height:34px; margin-top:4px;')
              .row(style='margin-top:20px;')
                label(style='min-width:158px;')
                  strong Location External Code:
                // 
                input#location-external-code(style='margin-left: 40px; max-height:34px; margin-top:4px;')
              .row
                label(style='min-width:158px;')
                  strong Location External Id:
                // 
                input#location-external-id(style='margin-left: 40px; max-height:34px; margin-top:4px;')
              .row
                label(style='min-width:158px;')
                  strong Location Description:
                // 
                textarea#location-description(rols='10', cols='45', style='margin-left: 40px; margin-top:4px;')
              .row(style='margin-top:20px;')
                label(style='font-weight:bold;', for='location-date-from') Location Attribute Valid From
                br
                input#location-date-from.form-control(style='width:100%;', type='text', placeholder='', title='format : ')
                br
                label(style='font-weight:bold;', for='location-date-to') Location Attribute Valid To
                br
                input#location-date-to.form-control(style='width:100%;', type='text', placeholder='', title='format : ')
                br
                script.
                  $('#location-date-from').datepicker({theme:'green'});
                  $('#location-date-to').datepicker({theme:'green'});
            .modal-footer
              button#add-new-location.btn.btn-danger Add
              button.btn.btn-default(type='button', data-dismiss='modal') Close
      #nav.nav(role='navigation')
        .row.row--green.row--inverse.row--no-padding.row--overflow
          .layout-container.nav__layout-container
            .layout.layout--12
              .layout__column
                .nav__upper
                  a.nav__logo-wrapper(href='http://localhost:3000')
                    //
                      if lt IE 9img.nav__logo(src='https://www.nuffieldhealth.com/assets/dist/images/logo_inverse.png', alt='Nuffield Health')
                    //if gte IE 9
                      | if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| [if gte IE 9]
                    span.nav__logo
                      img.nav__logo-text(src='https://www.nuffieldhealth.com/assets/dist/images/logo_inverse.svg', alt='Nuffield Health')
                    // <![endif]
                  ul.nav__list
                    li.nav__item
                      a#0000015a-4134-d80d-a55e-55fe90040000.nav__link(href='/products') Products
                    li.nav__item
                      a#0000014c-bd40-d7d2-a1ff-ff71639f0000.nav__link(href='/locations') Locations
                    li.nav__item
                      a#0000014c-bd40-d7d2-a1ff-ff71639f0000.nav__link(href='/materials') Materials
      nav.navbar.navbar-inverse(style='margin-bottom:0px;')
        .container-fluid
          ul.nav.navbar-nav
            li(style='padding-left:300px;')
              a(href='/') Home
            li.active
              a Location
            li(style='margin-left:800px;')
              a(data-toggle='modal', data-target='#addlocationModal') Add location
      .content-area.section
        .section-canvas
          #background-image.row.row--background-image(style='height: 360px;')
            .m-banner-search(style='margin-top:140px;')
              .module-canvas
                .field.f-search
                  input#search-criteria.search-box(type='text', name='s_Keywords', value='', placeholder='Search for a location ...')
                .field.f-submit.desktop
                  button#search-locations-button(style='width:166px; height:58px; background-color:#00a200; font-size:20px; color:#fff;') Search
                .field.f-filter-1
                  select#s_Region.filterSelect1(name='s_Region')
                    option#1 Search by location name
                    option#2(selected='selected') Search by location code
                .field.f-filter-2
                  select#s_Category.filterSelect1(name='s_Category')
                    option#1(selected='selected') Fitness and Wellbeing Centre
                    option#2 Cluster
                    option#3 Region
                    option#4 Sales Channel
                    option#5 Hospital
                    option#6 Site
                    option#9 Any
        .section-canvas
          .module.m-role-list
            ul.container-row
              li.item.other.box(style='min-width:190px; min-height:150px;')
                a#1.item-canvas.product-type
                  #1.item-inner-canvas
                    h2#1.title(style='font-size:2.0rem;') Fitness Centre
                    #1.icon-container
                      #1.icon
                        span#1.glyphicon.glyphicon-heart(style='font-size: 40px;')
              li.item.other.box(style='min-width:190px; min-height:150px;')
                a#2.item-canvas.product-type
                  #2.item-inner-canvas
                    h2#2.title(style='font-size:2.0rem;') Cluster
                    #2.icon-container
                      #2.icon
                        span#2.glyphicon.glyphicon-th-large(style='font-size: 40px;')
              li.item.other.box(style='min-width:190px; min-height:150px;')
                a#3.item-canvas.product-type
                  #3.item-inner-canvas
                    h2#3.title(style='font-size:2.0rem;') Region
                    #3.icon-container
                      #3.icon
                        span#3.glyphicon.glyphicon-th-list(style='font-size: 40px;')
              li.item.other.box(style='min-width:190px; min-height:150px;')
                a#6.item-canvas.product-type
                  #6.item-inner-canvas
                    h2#6.title(style='font-size:2.0rem;') Site
                    #6.icon-container
                      #6.icon
                        span#6.glyphicon.glyphicon-blackboard(style='font-size: 40px;')
              li.item.other.box(style='min-width:190px; min-height:150px;')
                a#4.item-canvas.product-type
                  #4.item-inner-canvas
                    h2#4.title(style='font-size:2.0rem;') Sales Channel
                    #4.icon-container
                      #4.icon
                        span#4.glyphicon.glyphicon-random(style='font-size: 40px;')
              li.item.other.box(style='min-width:190px; min-height:150px;')
                a#5.item-canvas.product-type
                  #5.item-inner-canvas
                    h2#5.title(style='font-size:2.0rem;') Hospital
                    #5.icon-container
                      #5.icon
                        span#5.glyphicon.glyphicon-plus-sign(style='font-size: 40px;')
        .section-canvas
          #show-search-result.container-row(style='display:none;')
            #filters.module.m-job-filter.structural
              .module-header
                h3 Filter Results
              .module-canvas
                #job-detail-filter.job-detail-filter.sub-section
                  fieldset.filter-criteria
                    .field.f-search-criteria
                      label(for='filter-search-criteria') Keywords
                      input#filter-search-criteria(type='text', name='s_Keywords', value='', placeholder='Job Keywords')
                    .filter.inactive
                      label(for='s_ContractType') Product Type
                      select#s_ContractType.filterSelect(name='s_ContractType')
                        option(value='9', selected='selected') - Choose - 
                        option(value='1') Fitness and Wellbeing Centre
                        option(value='2') Cluster
                        option(value='3') Region
                        option(value='4') Sales Channel
                        option(value='5') Hospital
                        option(value='6') Site
                  fieldset.filter-submit
                    .action
                      button.update-filters(style='background-color:#00a200; color:#fff; margin-bottom: 10px;') Update Results
                      button.clear-filters(style='color:#fff;') Clear Search
                  input#jobsearch-pagesize(type='hidden', name='pageSize')
                form#filter-form-surface(action='/umbraco/surface/JobFilter/UpdateFilters')
                  input#surface_s_ContractType(type='hidden', name='s_ContractType')
                  input#surface_s_WorkingHours(type='hidden', name='s_WorkingHours')
                  input#surface_s_Region(type='hidden', name='s_Region')
                  input#surface_s_Category(type='hidden', name='s_Category')
            #results.module.m-job-search-results.structural
              .module-canvas
                button#list-view(style='color:#fff; background-color:#00a200; font-size:16px; font-weight:bold;') LIST VIEW
                // 
                button#map-view(style='margin-left:10px; color:#fff; background-color:#00a200; font-size:16px; font-weight:bold;') MAP VIEW
                #search-result-list.job-results-list(style='min-width:860px; min-height:900px;')
                #pagination
      #nav.nav(role='navigation')
        .row.row--green.row--inverse.row--no-padding.row--overflow
          .layout-container.nav__layout-container
            .layout.layout--12
              .layout__column
                .nav__upper(style='height:70.78px;')
                  a.nav__logo-wrapper(href='https://www.nuffieldhealth.com/')
