doctype html
html(lang='en')
  head
    title Private Hospitals, Gyms, Corporate Fitness | Nuffield Health
    meta(name='description', content='Nuffield Health offers 31 private hospitals, 112 Fitness & Wellbeing gyms and many corporate locations and medical centres.')
    meta(name='keywords', content='fitness,nuffield health,gyms,gym,medical centre,healthcare,hospitals,private')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='shortcut icon', href='/favicon.ico')
    meta(property='og:image', content='/open-graph.png')
    link(rel='icon', type='image/png', sizes='192x192', href='/android-chrome-192x192.png')
    link(rel='apple-touch-icon', sizes='180x180', href='/apple-touch-icon-180x180.png')
    link(rel='icon', type='image/png', sizes='16x16', href='/favicon-16x16.png')
    link(rel='icon', type='image/png', sizes='32x32', href='/favicon-32x32.png')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(href='stylesheets/search-parent-product.css', rel='stylesheet')
    link(href='stylesheets/datepicker.css', rel='stylesheet')
    link(href='stylesheets/simplePagination.css', rel='stylesheet')
    link(href='stylesheets/location-info.css', rel='stylesheet')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    script(src='javascripts/jquery.simplePagination.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js')
    script(type='text/javascript', src='javascripts/location-info.js')
    script(type='text/javascript', src='javascripts/search-parent-location.js')
    script(src='javascripts/datepicker.js')
    script(src='javascripts/locales/en.js')
    script(src='javascripts/add-location-association.js')
    script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDE7w_rtqbat1VAQ8ReZJbdy87w0bEFJWU')
    style(type='text/css').
      html {
      background-color: #fefefe;
      box-sizing: border-box;
      font-family: 'Roboto', sans-serif;
      font-size: 14px;
      font-weight: 500;
      }
      *, *:before, *:after {
      box-sizing: inherit;
      }
      .container {
      margin: 50px auto 0;
      width: 100%;
      }
      .u-float-right {
      float: right;
      }
      .u-flex-center {
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-align-items: center;
      align-items: center;
      }
      .subtle {
      color: #888;
      font-size: 12px;
      }
      .card-media {
      border-radius: 2px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, .12);
      height: 125px;
      margin-bottom: 25px;
      transition: all 300ms ease-out;
      width: 100%;
      }
      .card-media:hover {
      box-shadow: 0 5px 14px rgba(0, 0, 0, .2);
      }
      .card-media-object-container {
      background: none;
      float: left;
      height: 100%;
      width: 25%;
      position: relative;
      }
      .card-media-object {
      background-position: center center;
      background-size: cover;
      height: 100%;
      }
      .card-media-object:after {
      content: " ";
      display: block;
      height: 100%;
      left: 0;
      opacity: 0;
      position: absolute;
      right: 0;
      top: 0;
      transition: all 300ms ease-out;
      z-index: 10;
      }
      .card-media:hover .card-media-object:after {
      background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 52%, rgba(0,0,0,0.4) 100%);
      background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 52%,rgba(0,0,0,0.4) 100%);
      background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 52%,rgba(0,0,0,0.4) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
      opacity: 1;
      }
      .card-media-object-tag {
      background-color: #fff;
      border-radius: 2px;
      padding: 2px 7px;
      position: absolute;
      right: 10px;
      top: 10px;
      }
      .card-media-object-social-list {
      bottom: 4px;
      left: 10px;
      list-style-type: none;
      margin: 0;
      padding: 0;
      position: absolute;
      z-index: 20;
      }
      .card-media-object-social-list li {
      border-radius: 50%;
      display: inline-block;
      height: 30px;
      margin-right: 6px;
      opacity: 0;
      overflow: hidden;
      transform: translateY(5px);
      transition: all 300ms ease-out;
      width: 30px;
      }
      .card-media:hover .card-media-object-social-list li {
      opacity: 1;
      transform: translateY(0);
      }
      .card-media-object-social-list li:nth-child(1) {
      transition-delay: 0;
      }
      .card-media-object-social-list li:nth-child(2) {
      transition-delay: 75ms;
      }
      .card-media-object-social-list li:nth-child(3) {
      transition-delay: 150ms;
      }
      .card-media-object-social-list-item-additional {
      border: 1px solid #fff;
      color: #fff;
      font-size: 12px;
      padding-top: 7px;
      text-align: center;
      }
      .card-media-body {
      background-color: #fff;
      float: left;
      height: 100%;
      padding: 12px 15px;
      position: relative;
      width: 100%;
      }
      .card-media-body-top {
      display: block;
      }
      .card-media-body-top-icons {
      margin-top: -2px;
      opacity: 0;
      transition: all 300ms ease-out;
      transform: translateY(-5px);
      }
      .card-media:hover .card-media-body-top-icons {
      opacity: 1;
      transform: translateY(0);
      }
      .card-media-body-top-icons > svg {
      cursor: pointer;
      margin-left: 10px;
      transition: all 300ms ease-out;
      }
      .card-media-body-top-icons > svg:hover {
      fill: #444;
      }
      .card-media-body-heading {
      display: block;
      margin-top: 10px;
      }
      .card-media-body-supporting-bottom {
      position: absolute;
      bottom: 10px;
      left: 0;
      opacity: 1;
      padding: 0 15px;
      transition: all 300ms ease-out;
      width: 100%;
      }
      .card-media:hover .card-media-body-supporting-bottom {
      opacity: 0;
      transform: translateY(-8px);
      }
      .card-media-body-supporting-bottom-text {
      display: inline-block;
      }
      .card-media-body-supporting-bottom-reveal {
      opacity: 0;
      transform: translateY(8px);
      transition: all 300ms ease-out;
      }
      .card-media:hover .card-media-body-supporting-bottom-reveal {
      opacity: 1;
      transform: translateY(0);
      }
      .card-media-link {
      color: #41C1F2;
      text-decoration: none;
      }
      .panel {
      border: 1px solid #00a200;
      border-radius:0 !important;
      transition: box-shadow 0.5s;
      }
      .panel:hover {
      box-shadow: 5px 0px 40px rgba(0,0,0, .2);
      }
      .panel-footer .btn:hover {
      border: 1px solid #00a200;
      background-color: #fff !important;
      color: #f4511e;
      }
      .panel-heading {
      color: #fff !important;
      background-color: #00a200 !important;
      padding: 25px;
      border-bottom: 1px solid transparent;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      }
      .panel-footer {
      background-color: white !important;
      }
      .panel-footer h3 {
      font-size: 32px;
      }
      .panel-footer h4 {
      color: #aaa;
      font-size: 14px;
      }
      .panel-footer .btn {
      margin-top: 15px;
      margin-right:5px;
      background-color: #00a200;
      color: #fff;
      }
      label{
      font-weight:bold;
      font-size: 20px;
      display:inline-block;
      margin_right:10px;
      min-width:211px;
      }
      p.info-field{
      display:inline-block;
      font-size: 20px;
      padding-left:10px;
      }
  body(style='background-color:#f1f1f1;')
    div(style='max-width:1700px; margin-left:100px;')
      // Modal for association
      #associationModal.modal.fade(role='dialog')
        .modal-dialog
          // Modal content
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal') ×
              h4.modal-title Add Association
            .modal-body
              input#modal-location-type-id
              input#modal-association-type-id
              input#modal-association-child-location-id
              .dropdown
                label
                  strong Association Type:
                // 
                input#association-type-name(style='margin-left: 40px;')
                // 
                button.btn.btn-default.dropdown-toggle(data-toggle='dropdown', style='margin-left: 40px;')
                  | View
                  span.caret
                ul#modal-association-dropdown.dropdown-menu(style='margin-left:380px;')
              .row
                label
                  strong Child Location Name:
                // 
                input#association-child-location-name(style='margin-left: 21px;')
                // 
                input#association-search(style='width:120px; margin-left:15px;', placeholder='search locations...')
                // 
                button#association-search-button.btn.btn-default
                  span.glyphicon.glyphicon-search
              .dropdown
                button.btn.btn-default.search-dropdown-toggle(data-toggle='dropdown', style='margin-left: 360px; display:none;')
                  | Results
                  span.caret
                ul#modal-association-search-dropdown.dropdown-menu(style='margin-left:380px; height:200px; overflow-y:scroll; width:300px;')
            .modal-footer
              button#add-new-association.btn.btn-danger Add
              button.btn.btn-default(type='button', data-dismiss='modal') Close
      // #cache key:primaryNavigation status:cached expires:3257s
      #nav.nav(role='navigation')
        .row.row--green.row--inverse.row--no-padding.row--overflow
          .layout-container.nav__layout-container
            .layout.layout--12
              .layout__column
                .nav__upper
                  a.nav__logo-wrapper(href='http://localhost:3000')
                    //
                      if lt IE 9img.nav__logo(src='https://www.nuffieldhealth.com/assets/dist/images/logo_inverse.png', alt='Nuffield Health')
                    //if gte IE 9
                      | if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| [if gte IE 9]
                    span.nav__logo
                      img.nav__logo-text(src='https://www.nuffieldhealth.com/assets/dist/images/logo_inverse.svg', alt='Nuffield Health')
                    // <![endif]
                  ul.nav__list
                    li.nav__item
                      a#0000015a-4134-d80d-a55e-55fe90040000.nav__link(href='/products') Products
                    li.nav__item
                      a#0000014c-bd40-d7d2-a1ff-ff71639f0000.nav__link(href='/locations') Locations
                    li.nav__item
                      a#0000014c-e658-dfca-ab5d-eedfa2090000.nav__link(href='/materials') Materials
      .container
        .row
          .card-media(style='height: auto;')
            .card-media-body
              .card-media-body-top
                .card-media-body-top-icons.u-float-right
                  button.btn.btn-primary.edit-general-info edit
                  // 
                  button.btn.btn-default.update-general-info(style='background-color:green; color:#fff; display:none;') update
                  // 
                  button.btn.btn-danger.cancel-general-info(style='display:none;') cancel
              span.card-media-body-heading
                .col-sm-4(style='min-width:430px; margin-top:30px; margin-left:20px;')
                  .panel.panel-default
                    .panel-heading(style='font-width:bold; font-size:26px;')
                      center Name&Code
                    .panel-body
                      label(style='font-weight:bold;') Location Name:
                      p#Location-Name.info-field
                      br
                      label(style='font-weight:bold;') Location Code:
                      p#Location-Code.info-field
                      br
                      label(style='font-weight:bold;') Location Label:
                      p#Location-Label.info-field
                      br
                      label(style='font-weight:bold;') Location Notes:
                      p#Location-Notes.info-field
                  .panel.panel-default
                    .panel-heading(style='font-width:bold; font-size:26px;')
                      center EXternal Id&Code
                    .panel-body
                      label(style='font-weight:bold;') Location External Code:
                      p#Location-External-Code.info-field
                      br
                      label(style='font-weight:bold;') Location External Id:
                      p#Location-External-Id.info-field
                      br
                .col-sm-4(style='margin-top:30px;')
                  .panel.panel-default
                    .panel-heading(style='font-width:bold; font-size:26px;')
                      center Type Name&Record Time
                    .panel-body
                      label(style='font-weight:bold;') Location Type Name:
                      p#Location-Type-Name.info-field
                      br
                      label(style='font-weight:bold;') Record Termination Datetime:
                      p#Record-Termination-Datetime.info-field
                      br
                      label(style='font-weight:bold;') Record Creation Datetime:
                      p#Record-Creation-Datetime.info-field
                      br
                      label(style='font-weight:bold;') Record Copy Creation Datetime:
                      p#Record-Copy-Creation-Datetime.info-field
                  .panel.panel-default
                    .panel-heading(style='font-width:bold; font-size:26px;')
                      center Valid Peroid
                    .panel-body
                      label(style='font-weight:bold;', for='date-from') Location Valid From:
                      p#Location-Valid-From.info-field
                      br
                      label(style='font-weight:bold;', for='date-to') Location Valid To:
                      p#Location-Valid-To.info-field
                .col-sm-4(style='margin-top:30px; max-width:450px;')
                  .panel.panel-default
                    .panel-heading(style='font-width:bold; font-size:26px;')
                      center Parent Location Name
                    .panel-body
                      // <label style="font-weight:bold;">Parent Material Name</label>
                      .row
                        center
                          div
                            p#Parent-Location-Name.info-field(style='width:69%;')
                        .col-md-6.input-group
                          span#search-parent-location-form(style='display:none;')
                            input#search-input-parent-location.form-control(type='text', style='min-width: 100px; width: 20%; margin-left:50px;', name='x', placeholder='Search term...')
                            button#search-parent-location-button.btn.btn-default(style='min-width:35px;', type='button')
                              span.glyphicon.glyphicon-search
                          span#search(style='display:none;')
                            #dropdown.ddmenu
                              | Results
                              ul#search-result
                  .panel.panel-default
                    .panel-heading(style='font-width:bold; font-size:26px;')
                      center Description
                    .panel-body
                      // <label style="font-weight:bold;">Material Description</label>
                      center
                        p#Location-Description.info-field
                  .panel.panel-default
                    .panel-heading(style='font-width:bold; font-size:26px;')
                      center Potcode
                    .panel-body
                      // <label style="font-weight:bold;">Material Description</label>
                      center
                        p#Location-Postcode.info-field
              .card-media-body-supporting-bottom.card-media-body-supporting-bottom-reveal
                span.card-media-body-supporting-bottom-text.subtle #General-info
        .row(style='margin-top:20px;')
          .card-media(style='height: auto;')
            .card-media-body
              .card-media-body-top
                .card-media-body-top-icons.u-float-right
                  button.btn.btn-danger.add-association-info(data-toggle='modal', data-target='#associationModal') add
              span.card-media-body-heading
                h2 association-info
                #attributes.container-fluid
                  .col-sm-3
                    #child-association.row.slideanim
                  .col-sm-9
                    #association-list.row.slideanim
                    #association-pagination
              .card-media-body-supporting-bottom.card-media-body-supporting-bottom-reveal
                span.card-media-body-supporting-bottom-text.subtle #Association-info
        .row(style='margin-top:20px;')
          .card-media(style='height: auto;')
            .card-media-body
              .card-media-body-top
                .card-media-body-top-icons.u-float-right
                  button.btn.btn-primary.edit-google-map edit
                  // 
                  button.btn.btn-default.update-google-map(style='background-color:green; color:#fff; display:none;') update
                  // 
                  button.btn.btn-danger.cancel-google-map(style='display:none;') cancel
              span.card-media-body-heading
                h2 Google-map
                #google-map-input-group.input-group(style='display:none;')
                  input#input-postcode(placeholder='input a new postcode', style='margin-left:120px;')
                  button#search-postcode.btn.btn-default
                    span.glyphicon.glyphicon-search
                #map.container-fluid(style='background-color:yellow; width:1200px; height:800px;')
              .card-media-body-supporting-bottom.card-media-body-supporting-bottom-reveal
                span.card-media-body-supporting-bottom-text.subtle #Google-map
      #nav.nav(role='navigation')
        .row.row--green.row--inverse.row--no-padding.row--overflow
          .layout-container.nav__layout-container
            .layout.layout--12
              .layout__column
                .nav__upper(style='height:70.78px;')
                  a.nav__logo-wrapper(href='https://www.nuffieldhealth.com/')
