html(lang='en')
  head
    title Our Locations - About Us - Nuffield Health Careers 
    link(rel='shortcut icon', href='/favicon.ico')
    link(rel='icon', type='image/png', sizes='192x192', href='/android-chrome-192x192.png')
    link(rel='apple-touch-icon', sizes='180x180', href='/apple-touch-icon-180x180.png')
    link(rel='icon', type='image/png', sizes='16x16', href='/favicon-16x16.png')
    link(rel='icon', type='image/png', sizes='32x32', href='/favicon-32x32.png')
    link(href='stylesheets/style.css', type='text/css', rel='stylesheet')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(href='stylesheets/products.css', type='text/css', rel='stylesheet')
    link(type='text/css', rel='stylesheet', href='stylesheets/simplePagination.css')
    link(type='text/css', rel='stylesheet', href='stylesheets/datepicker.css')
    style(type='text/css').
      #background-image { background-image: url(https://www.nuffieldhealth.com/local/c8/a0/5cc8fc1541d7a7626ae2c2ebedb6/battle-ropes-largest.jpg); }
      @media (max-width: 1200px) {
      #background-image { background-image: url(https://www.nuffieldhealth.com/local/4c/2f/9461239a488f9b729126d897f4be/battle-ropes-large.jpg); }
      }
      @media (max-width: 900px) {
      #background-image { background-image: url(https://www.nuffieldhealth.com/local/dd/d0/0d3183df40fb869a33dd72ed9eda/battle-ropes-medium.jpg); }
      }
      @media (max-width: 480px) {
      #background-image { background-image: url(https://www.nuffieldhealth.com/local/15/7d/43882e0b4eeb8571b45ef5e2f35d/battle-ropes-small.jpg); }
      }
      span{
      font-size:19px;
      }
      .m-role-list .icon-container{
      position:none;
      }
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    script(src='javascripts/materials.js')
    script(src='javascripts/add-material.js')
    script(src='javascripts/jquery.simplePagination.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.3.2/js/mdb.min.js')
    script(src='javascripts/datepicker.js')
    script(src='javascripts/locales/en.js')
  body.page-our-locations.navlevel-3.doctype-locationslandingpage(style='background-color: #f1f1f1;')
    // Skip links - Accessibility
    ul.skip-links.visuallyhidden
      li
        a(href='#main') Skip to content
      li
        a(href='#navigation-primary') Main site navigation
      li
        a(href='#footer') Share links and site information
    #top.container(style='min-width:1450px;')
      // Modal for association
      #addmaterialModal.modal.fade(role='dialog')
        .modal-dialog
          // Modal content
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal') ×
              h4.modal-title Add Material
            .modal-body
              input#modal-material-type-id(style='display:none;')
              input#modal-association-type-id(style='display:none;')
              input#modal-association-child-product-id(style='display:none;')
              .dropdown(style='background-color:#fff;')
                label(style='min-width:100px;')
                  strong Material Type:
                // 
                input#material-type-name(style='margin-left: 40px; max-height:34px;')
                // 
                button.btn.btn-default.dropdown-toggle(data-toggle='dropdown', style='margin-left: 0px;')
                  | View
                  span.caret
                ul#modal-material-dropdown.dropdown-menu(style='margin-left:380px; width:200px; height:390px;')
                  li
                    a#1.material-type-name Material
                  li
                    a#2.material-type-name Material Type
                  li
                    a#3.material-type-name Function Class
                  li
                    a#4.material-type-name Function Group
                  li
                    a#5.material-type-name Function
                  li
                    a#6.material-type-name Category
                  li
                    a#7.material-type-name Catalogue Item
                  li
                    a#8.material-type-name Clinical or Non Clinical
                  li
                    a#9.material-type-name Procurement Specialty
              .row
                label(style='min-width:100px;')
                  strong Material Name:
                // 
                input#material-name(style='margin-left: 40px; max-height:34px; margin-top:4px;')
              .row
                label(style='min-width:100px;')
                  strong Material Code:
                // 
                input#material-code(style='margin-left: 40px; max-height:34px; margin-top:4px;')
              .row
                label(style='min-width:100px;')
                  strong Material Label:
                // 
                input#material-label(style='margin-left: 40px; max-height:34px; margin-top:4px;')
              .row(style='margin-top:20px;')
                label(style='min-width:158px;')
                  strong Material External Code:
                // 
                input#material-external-code(style='margin-left: 40px; max-height:34px; margin-top:4px;')
              .row
                label(style='min-width:158px;')
                  strong Material External Id:
                // 
                input#material-external-id(style='margin-left: 40px; max-height:34px; margin-top:4px;')
              .row
                label(style='min-width:158px;')
                  strong Material Description:
                // 
                textarea#material-description(rols='10', cols='45', style='margin-left: 40px; margin-top:4px;')
              .row(style='margin-top:20px;')
                label(style='font-weight:bold;', for='material-date-from') Material Attribute Valid From
                br
                input#material-date-from.form-control(style='width:100%;', type='text', placeholder='', title='format : ')
                br
                label(style='font-weight:bold;', for='material-date-to') Material Attribute Valid To
                br
                input#material-date-to.form-control(style='width:100%;', type='text', placeholder='', title='format : ')
                br
                script.
                  $('#material-date-from').datepicker({theme:'green'});
                  $('#material-date-to').datepicker({theme:'green'});
            .modal-footer
              button#add-new-material.btn.btn-danger Add
              button.btn.btn-default(type='button', data-dismiss='modal') Close
      #nav.nav(role='navigation')
        .row.row--green.row--inverse.row--no-padding.row--overflow
          .layout-container.nav__layout-container
            .layout.layout--12
              .layout__column
                .nav__upper
                  a.nav__logo-wrapper(href='http://localhost:3000')
                    //
                      if lt IE 9img.nav__logo(src='https://www.nuffieldhealth.com/assets/dist/images/logo_inverse.png', alt='Nuffield Health')
                    //if gte IE 9
                      | if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| [if gte IE 9]
                    span.nav__logo
                      img.nav__logo-text(src='https://www.nuffieldhealth.com/assets/dist/images/logo_inverse.svg', alt='Nuffield Health')
                    // <![endif]
                  ul.nav__list
                    li.nav__item
                      a#0000015a-4134-d80d-a55e-55fe90040000.nav__link(href='/products') Products
                    li.nav__item
                      a#0000014c-bd40-d7d2-a1ff-ff71639f0000.nav__link(href='/locations') Locations
                    li.nav__item
                      a#0000014c-bd40-d7d2-a1ff-ff71639f0000.nav__link(href='/materials') Materials
                    li.nav__item
                      a#0000014c-bd40-d7d2-a1ff-ff71639f0000.nav__link(href='/') Logout
      nav.navbar.navbar-inverse(style='margin-bottom:0px;')
        .container-fluid
          ul.nav.navbar-nav
            li(style='padding-left:150px;')
              a(href='/') Home
            li.active
              a Material
            li(style='margin-left:610px;')
              a(data-toggle='modal', data-target='#addmaterialModal') Add material
      .content-area.section
        .section-canvas
          #background-image.row.row--background-image(style='height: 360px;')
            .m-banner-search(style='margin-top:140px;')
              .module-canvas
                .field.f-search
                  input#search-criteria.search-box(type='text', name='s_Keywords', value='', placeholder='Search for a material ...')
                .field.f-submit.desktop
                  button#search-materials-button(style='width:166px; height:58px; background-color:#00a200; font-size:20px; color:#fff;') Search
                .field.f-filter-1
                  select#s_Region.filterSelect1(name='s_Region')
                    option#1 Search by name
                    option#2(selected='selected') Search by code
                .field.f-filter-2
                  select#s_Category.filterSelect1(name='s_Category')
                    option#1(selected='selected') Material
                    option#2 Material Type
                    option#3 Function Class
                    option#4 Function Group
                    option#5 Function
                    option#6 Category
                    option#7 Catalogue Item
                    option#8 Clinical or Non Clinical
                    option#9 Procurement Specialty
                    option#10 Any
        .section-canvas
          .module.m-role-list
            ul.container-row
              li.item.other.box(style='width:247.5px; min-height:150px;')
                a#1.item-canvas.product-type
                  #1.item-inner-canvas
                    h2#1.title(style='font-size:2.0rem;') Material
                    #1.icon-container
                      #1.icon
                        span#1.glyphicon.glyphicon-th(style='font-size: 40px;')
              li.item.other.box(style='width:247.5px; min-height:150px;')
                a#2.item-canvas.product-type
                  #2.item-inner-canvas
                    h2#2.title(style='font-size:2.0rem;') Product Type
                    #2.icon-container
                      #2.icon
                        span#2.glyphicon.glyphicon-th-large(style='font-size: 40px;')
              li.item.other.box(style='width:247.5px; min-height:150px;')
                a#3.item-canvas.product-type
                  #3.item-inner-canvas
                    h2#3.title(style='font-size:2.0rem;') Function Class
                    #3.icon-container
                      #3.icon
                        span#3.glyphicon.glyphicon-th-list(style='font-size: 40px;')
              li.item.other.box(style='width:247.5px; min-height:150px;')
                a#4.item-canvas.product-type
                  #4.item-inner-canvas
                    h2#4.title(style='font-size:2.0rem;') Function Group
                    #4.icon-container
                      #4.icon
                        span#4.glyphicon.glyphicon-tag(style='font-size: 40px;')
              li.item.other.box(style='width:247.5px; min-height:150px;')
                a#5.item-canvas.product-type
                  #5.item-inner-canvas
                    h2#5.title(style='font-size:2.0rem;') Function
                    #5.icon-container
                      #5.icon
                        span#5.glyphicon.glyphicon-tags(style='font-size: 40px;')
              li.item.other.box(style='width:247.5px; min-height:150px;')
                a#6.item-canvas.product-type
                  #6.item-inner-canvas
                    h2#6.title(style='font-size:2.0rem;') Category
                    #6.icon-container
                      #6.icon
                        span#6.glyphicon.glyphicon-barcode(style='font-size: 40px;')
        .section-canvas
          #show-search-result.container-row(style='display:none;')
            #filters.module.m-job-filter.structural
              .module-header
                h3 Filter Results
              .module-canvas
                #job-detail-filter.job-detail-filter.sub-section
                  fieldset.filter-criteria
                    .field.f-search-criteria
                      label(for='filter-search-criteria') Keywords
                      input#filter-search-criteria(type='text', name='s_Keywords', value='', placeholder='Material Keywords')
                    .filter.inactive
                      label(for='s_ContractType') Product Type
                      select#s_ContractType.filterSelect(name='s_ContractType')
                        option(value='10', selected='selected') - Choose - 
                        option(value='1') Material
                        option(value='2') Material Type
                        option(value='3') Function Class
                        option(value='4') Function Group
                        option(value='5') Function
                        option(value='6') Category
                        option(value='7') Catalogue Item
                        option(value='8') Clinical or Non Clinical
                        option(value='9') Procurement Specialty
                  fieldset.filter-submit
                    .action
                      button.update-filters(style='background-color:#00a200; color:#fff;') Update Results
                      button.clear-filters(style='color:#fff;') Clear Search
                  input#jobsearch-pagesize(type='hidden', name='pageSize')
                form#filter-form-surface(action='/umbraco/surface/JobFilter/UpdateFilters')
                  input#surface_s_ContractType(type='hidden', name='s_ContractType')
                  input#surface_s_WorkingHours(type='hidden', name='s_WorkingHours')
                  input#surface_s_Region(type='hidden', name='s_Region')
                  input#surface_s_Category(type='hidden', name='s_Category')
            #results.module.m-job-search-results.structural
              .module-canvas
                #search-result-list.job-results-list
                #pagination
      #nav.nav(role='navigation')
        .row.row--green.row--inverse.row--no-padding.row--overflow
          .layout-container.nav__layout-container
            .layout.layout--12
              .layout__column
                .nav__upper(style='height:70.78px;')
                  a.nav__logo-wrapper(href='https://www.nuffieldhealth.com/')
                    //
                      if lt IE 9img.nav__logo(src='https://www.nuffieldhealth.com/assets/dist/images/logo_inverse.png', alt='Nuffield Health')
                    //if gte IE 9
                      | if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| [if gte IE 9]
                    // <![endif]
