doctype html
html(lang='en')
  head
    title Private Hospitals, Gyms, Corporate Fitness | Nuffield Health
    meta(name='description', content='Nuffield Health offers 31 private hospitals, 112 Fitness & Wellbeing gyms and many corporate locations and medical centres.')
    meta(name='keywords', content='fitness,nuffield health,gyms,gym,medical centre,healthcare,hospitals,private')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='shortcut icon', href='/favicon.ico')
    meta(property='og:image', content='/open-graph.png')
    link(rel='icon', type='image/png', sizes='192x192', href='/android-chrome-192x192.png')
    link(rel='apple-touch-icon', sizes='180x180', href='/apple-touch-icon-180x180.png')
    link(rel='icon', type='image/png', sizes='16x16', href='/favicon-16x16.png')
    link(rel='icon', type='image/png', sizes='32x32', href='/favicon-32x32.png')
    script.
      window.dataLayer = window.dataLayer || []; window.dataLayer.push({'event':'pageDataLoaded','userId':'','loginStatus':'NO'});
      document.documentElement.className = document.documentElement.className.replace('no-js', '');
    link(rel='stylesheet', type='text/css', href='stylesheets/application.css')
    script(src='//maps.googleapis.com/maps/api/js?client=gme-nuffieldhealthltd1&hl=en&libraries=places')
    script(src='/assets/dist/javascript/application.min.js')
    style.
      .home-hero {
      background-image: url(https://www.nuffieldhealth.com/local/0d/a5/16bfa49745008adcdc518c285441/pay-for-yourself-at-nuffield-health.jpg);
      }
      @media (max-width: 600px) {
      .home-hero {
      background-image: url(https://www.nuffieldhealth.com/local/e9/9b/d222c03742ea96411ce7b565cf06/spimage-homepage.png);
      }
      }
    script(src='https://cdn.optimizely.com/js/6076240549.js')
    meta(name='google-site-verification', content='vURViD3WNilgTwx98cc2xL-phgxOhD4saZBPRIY70IM')
  body(data-page-id='0000014d-7c48-d677-a1cf-fcdd90db0000')
    div
      // Google Tag Manager
      script.
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-T63L6W');
      // End Google Tag Manager
      // Google Tag Manager (noscript)
      noscript
        iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-T63L6W', height='0', width='0', style='display:none;visibility:hidden')
      // End Google Tag Manager (noscript)
      style(type='text/css').
        span.event-meta__cta { display: none; }
      style(type='text/css').
        .bb-timetable__added[ng-show="!event.bookable"] {
        display: none
        }
        @media screen and (max-width: 480px) {
        .account-links--4 .account-links__item {
        -webkit-box-flex: 100%;
        -webkit-flex: 100%;
        -moz-box-flex: 100%;
        -ms-flex: 100%;
        flex: 100%
        }
        }
        @media screen and (max-width: 480px) {
        .account-links--5 .account-links__item:nth-child(-n+2), .account-links--6 .account-links__item:nth-child(-n+2) {
        -webkit-box-flex: 100%;
        -webkit-flex: 100%;
        -moz-box-flex: 100%;
        -ms-flex: 100%;
        flex: 100%
        }
        }
        .layout--0-12-0 .layout__column {
        width: 100%;
        }
      // #cache key:primaryNavigation status:cached expires:3257s
      #nav.nav(role='navigation')
        .row.row--green.row--inverse.row--no-padding.row--overflow
          .layout-container.nav__layout-container
            .layout.layout--12
              .layout__column
                .nav__upper
                  a.nav__logo-wrapper(href='https://www.nuffieldhealth.com/')
                    //
                      if lt IE 9img.nav__logo(src='https://www.nuffieldhealth.com/assets/dist/images/logo_inverse.png', alt='Nuffield Health')
                    //if gte IE 9
                      | if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| [if gte IE 9]
                    span.nav__logo
                      img.nav__logo-text(src='https://www.nuffieldhealth.com/assets/dist/images/logo_inverse.svg', alt='Nuffield Health')
                    // <![endif]
                  ul.nav__list
                    li.nav__item
                      a#0000015a-4134-d80d-a55e-55fe90040000.nav__link(href='https://www.nuffieldhealth.com/services') Products
                    li.nav__item
                      a#0000014c-bd40-d7d2-a1ff-ff71639f0000.nav__link(href='https://www.nuffieldhealth.com/health-topics') Locations
                    li.nav__item
                      a#0000014c-e658-dfca-ab5d-eedfa2090000.nav__link(href='https://www.nuffieldhealth.com/hospitals') Payment records
                    li.nav__item
                      a#0000014c-faaa-d922-a7ed-fbef5a7f0000.nav__link(href='https://www.nuffieldhealth.com/gyms') sample
                    li.nav__item
                      a#0000014c-faaa-d922-a7ed-fbef9a1b0000.nav__link(href='https://www.nuffieldhealth.com/physiotherapy') sample
                    li.nav__item
                      a#0000014c-faab-d922-a7ed-fbef138c0000.nav__link(href='https://www.nuffieldhealth.com/health-assessments') sample
                    li.nav__item
                      a#0000014c-faab-d922-a7ed-fbef6f910000.nav__link(href='http://www.nuffieldhealthcareers.com') Quick links
      #main(tabindex='0')
        .row.row--inverse.row--no-padding
          .home-hero
            .layout-container
              .layout.layout--0-10-0
                .layout__column.layout__column--1
                  .home-hero__copy.home-hero__copy--promo
                    h1.home-hero__heading Products.
                    .page
                      .section
                        .layoutArea
                          .column
                            .column
                              .column
                                p
                                  | Nuffield Health sells beautiful products, you can find many health related items here.
                                  | help you have a fit, wonderful life.
                                p explore this website for more information
                                p
                                  br
                    a.button(href='/products') View
      .row.row--charcoal.row--inverse.row--no-padding

block content