doctype html
html(lang='en')
  head
    title Private Hospitals, Gyms, Corporate Fitness | Nuffield Health
    meta(name='description', content='Nuffield Health offers 31 private hospitals, 112 Fitness & Wellbeing gyms and many corporate locations and medical centres.')
    meta(name='keywords', content='fitness,nuffield health,gyms,gym,medical centre,healthcare,hospitals,private')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='shortcut icon', href='/favicon.ico')
    meta(property='og:image', content='/open-graph.png')
    link(rel='icon', type='image/png', sizes='192x192', href='/android-chrome-192x192.png')
    link(rel='apple-touch-icon', sizes='180x180', href='/apple-touch-icon-180x180.png')
    link(rel='icon', type='image/png', sizes='16x16', href='/favicon-16x16.png')
    link(rel='icon', type='image/png', sizes='32x32', href='/favicon-32x32.png')
    link(href='stylesheets/bootstrap.css', rel='stylesheet')
    link(href='stylesheets/style.css', rel='stylesheet')
    link(href='stylesheets/jqtree.css', rel='stylesheet')
    link(href='stylesheets/search-parent-product.css', rel='stylesheet')
    link(rel='stylesheet', href='stylesheets/calendar.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script.
      window.dataLayer = window.dataLayer || []; window.dataLayer.push({'event':'pageDataLoaded','userId':'','loginStatus':'NO'});
      document.documentElement.className = document.documentElement.className.replace('no-js', '');
    link(rel='stylesheet', type='text/css', href='stylesheets/application.css')
    //
      <link rel="stylesheet" type="text/css" href="stylesheets/search_products.css">
    link(rel='stylesheet', type='text/css', href='stylesheets/TGStyleSheet.css')
    script(src='//maps.googleapis.com/maps/api/js?client=gme-nuffieldhealthltd1&hl=en&libraries=places')
    // <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    script(src='//code.jquery.com/jquery-1.11.3.min.js')
    script(type='text/javascript', src='javascripts/bootstrap.min.js')
    script(type='text/javascript', src='javascripts/product-info.js')
    script(type='text/javascript', src='javascripts/tree.jquery.js')
    script(type='text/javascript', src='javascripts/search-parent-product.js')
    script(type='text/javascript', src='javascripts/calendar.js')
    style(type='text/css').
      #background-image { background-image: url(https://www.nuffieldhealth.com/local/c8/a0/5cc8fc1541d7a7626ae2c2ebedb6/battle-ropes-largest.jpg); }
      @media (max-width: 1200px) {
      #background-image { background-image: url(https://www.nuffieldhealth.com/local/4c/2f/9461239a488f9b729126d897f4be/battle-ropes-large.jpg); }
      }
      @media (max-width: 900px) {
      #background-image { background-image: url(https://www.nuffieldhealth.com/local/dd/d0/0d3183df40fb869a33dd72ed9eda/battle-ropes-medium.jpg); }
      }
      @media (max-width: 480px) {
      #background-image { background-image: url(https://www.nuffieldhealth.com/local/15/7d/43882e0b4eeb8571b45ef5e2f35d/battle-ropes-small.jpg); }
      }
    meta(name='google-site-verification', content='vURViD3WNilgTwx98cc2xL-phgxOhD4saZBPRIY70IM')
  body(data-page-id='0000014d-7c48-d677-a1cf-fcdd90db0000')
    div
      // Google Tag Manager
      script.
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-T63L6W');
      // End Google Tag Manager
      // Google Tag Manager (noscript)
      noscript
        iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-T63L6W', height='0', width='0', style='display:none;visibility:hidden')
      // End Google Tag Manager (noscript)
      style(type='text/css').
        span.event-meta__cta { display: none; }
      style(type='text/css').
        .bb-timetable__added[ng-show="!event.bookable"] {
        display: none
        }
        @media screen and (max-width: 480px) {
        .account-links--4 .account-links__item {
        -webkit-box-flex: 100%;
        -webkit-flex: 100%;
        -moz-box-flex: 100%;
        -ms-flex: 100%;
        flex: 100%
        }
        }
        @media screen and (max-width: 480px) {
        .account-links--5 .account-links__item:nth-child(-n+2), .account-links--6 .account-links__item:nth-child(-n+2) {
        -webkit-box-flex: 100%;
        -webkit-flex: 100%;
        -moz-box-flex: 100%;
        -ms-flex: 100%;
        flex: 100%
        }
        }
        .layout--0-12-0 .layout__column {
        width: 100%;
        }
      .global-nav
        .row.row--green.row--inverse.row--no-padding.row--overflow
          .layout-container
            .layout.layout--6-6
              .layout__column.layout__column--1
                ul.global-nav__list.global-nav__list--audience
                  li.global-nav__item
                    a.global-nav__link.js-default(href='https://www.nuffieldhealth.com/') Personal
                  li.global-nav__item
                    a.global-nav__link(href='https://www.nuffieldhealth.com/corporate-wellbeing') Corporate
                  li.global-nav__item
                    a.global-nav__link(href='https://www.nuffieldhealth.com/healthcare-professionals') Professionals
              .layout__column.layout__column--2
      // #cache key:primaryNavigation status:cached expires:3257s
      #nav.nav(role='navigation')
        .row.row--green.row--inverse.row--no-padding.row--overflow
          .layout-container.nav__layout-container
            .layout.layout--12
              .layout__column
                .nav__upper
                  a.nav__logo-wrapper(href='https://www.nuffieldhealth.com/')
                    //
                      if lt IE 9img.nav__logo(src='https://www.nuffieldhealth.com/assets/dist/images/logo_inverse.png', alt='Nuffield Health')
                    //if gte IE 9
                      | if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| if gte IE 9| [if gte IE 9]
                    span.nav__logo
                      img.nav__logo-text(src='https://www.nuffieldhealth.com/assets/dist/images/logo_inverse.svg', alt='Nuffield Health')
                    // <![endif]
                  ul.nav__list
                    li.nav__item
                      a#0000015a-4134-d80d-a55e-55fe90040000.nav__link(href='https://www.nuffieldhealth.com/services') Products
                    li.nav__item
                      a#0000014c-bd40-d7d2-a1ff-ff71639f0000.nav__link(href='https://www.nuffieldhealth.com/health-topics') Locations
                    li.nav__item
                      a#0000014c-e658-dfca-ab5d-eedfa2090000.nav__link(href='https://www.nuffieldhealth.com/hospitals') Payment records
                    li.nav__item
                      a#0000014c-faaa-d922-a7ed-fbef5a7f0000.nav__link(href='https://www.nuffieldhealth.com/gyms') sample
                    li.nav__item
                      a#0000014c-faaa-d922-a7ed-fbef9a1b0000.nav__link(href='https://www.nuffieldhealth.com/physiotherapy') sample
                    li.nav__item
                      a#0000014c-faab-d922-a7ed-fbef138c0000.nav__link(href='https://www.nuffieldhealth.com/health-assessments') sample
                    li.nav__item
                      a#0000014c-faab-d922-a7ed-fbef6f910000.nav__link(href='http://www.nuffieldhealthcareers.com') Quick links
      #main(role='main', tabindex='0')
        #background-image.row.row--background-image
          .layout-container
            .layout.layout--8-4
              .layout_column.layout_column--1
                #product-name.page-header.page-header--bold
          .row
            .container.mycontainer(style='background-color:#eee;')
              .jumbotron.home-page-block
                button.btn.btn-primary.pull-right(style='display: none;') edit
                button.btn.btn-primary.pull-right.edit-general-info(style='min-width: 60px;') edit
                button.btn.btn-secondary.pull-right.update-general-info(style='min-width: 60px; display: none;') update
                button.btn.btn-danger.pull-right.cancel-general-info(style='min-width: 60px; display:none;') cancel
                h2 general-info
                .col-md-6
                  label(style='font-weight:bold;') Product Name
                  p#Product-Name.info-field(style='font-size: 15px;')
                  label(style='font-weight:bold;') Product Description
                  p#Product-Description.info-field(style='font-size: 15px;')
                  label(style='font-weight:bold;') Product Code
                  p#Product-Code.info-field(style='font-size: 15px;')
                  label(style='font-weight:bold;') Product External Code
                  p#Product-External-Code.info-field(style='font-size: 15px;')
                  label(style='font-weight:bold;') Product External Id
                  p#Product-External-Id.info-field(style='font-size: 15px;')
                  label(style='font-weight:bold;') Parent Product Name
                  p#Parent-Product-Name.info-field(style='font-size: 15px;')
                  span#input-field-view-button(style='display:none;')
                    button#view-tree-menu.btn.btn-default(style='min-width: 60px;') view
                    input#search-input-parent-product.form-control(type='text', style='min-width: 100px; width: 20%;', name='x', placeholder='Search term...')
                    button#search-parent-product-button.btn.btn-default(style='min-width:35px;', type='button')
                      span.glyphicon.glyphicon-search
                  span#span-tree(style='display:none;')
                    #tree
                  span#search(style='display:none;')
                    #dropdown.ddmenu
                      | Results
                      ul#search-result
                  label(style='font-weight:bold;') Product Label
                  p#Product-Label.info-field(style='font-size: 15px;')
                  label(style='font-weight:bold;') Product Notes
                  p#Product-Notes.info-field(style='font-size: 15px;')
                .col-md-6
                  label(style='font-weight:bold;') Product Type Name
                  p#Product-Type-Name.info-field(style='font-size: 15px;')
                  label(style='font-weight:bold;') Product Valid From
                  p#Product-Valid-From.info-field(style='font-size: 15px;')
                  label(style='font-weight:bold;') Product Valid To
                  p#Product-Valid-To.info-field(style='font-size: 15px;')
                  label(style='font-weight:bold;') Record Creation Datetime
                  p#Record-Creation-Datetime.info-field(style='font-size: 15px;')
                  label(style='font-weight:bold;') Record Termination Datetime
                  p#Record-Termination-Datetime.info-field(style='font-size: 15px;')
                  label(style='font-weight:bold;') Product Turn Around Time Days
                  p#Product-Turn-Around-Time-Days.info-field(style='font-size: 15px;')
                  label(style='font-weight:bold;') Record Copy Creation Datetime
                  p#Record-Copy-Creation-Datetime.info-field(style='font-size: 15px;')
          .row
            .container.mycontainer(style='background-color:#eee;')
              .jumbotron.home-page-block
                button.btn.btn-primary.pull-right(style='display: none;') edit
                button.btn.btn-primary.pull-right.edit-product-info(style='width: 60px;') edit
                h2 product-type-info
                .col-md-6
                  label(style='font-weight:bold;') Product Type Id
                  p#product-type-id.info-field
                  label(style='font-weight:bold;') Product Type Name
                  p#product-type-name.info-field
                  label(style='font-weight:bold;') Association Id
                  p#association-id.info-field
                  label(style='font-weight:bold;') Association Name
                  p#association-name.info-field
                .col-md-6
                  label(style='font-weight:bold;') Parent Procut Name
                  p#parent-product-id.info-field
                  label(style='font-weight:bold;') Child Product Name
                  p#child-product-id.info-field
          .row
            .container.mycontainer(style='background-color:#eee;')
              .jumbotron.home-page-block
                button.btn.btn-primary.pull-right(style='display: none;') edit
                button.btn.btn-primary.pull-right.edit-product-info(style='width: 60px;') edit
                h2 Attribute-info
                .col-md-6
                  label(style='font-weight:bold;') Attributes
                  p#attributes.info-field
                .col-md-6
                  label(style='font-weight:bold;') Value
                  p#valid-period.info-field
  //
    <script type="text/javascript">
    var data=;
    console.log(data);
    console.log(data[0]);
    $(function(){
    var treemenu=[{
    label: 'type 1',
    children: [
    {label: ((data[0])[0])["Product Name"]},
    {label: ((data[0])[1])["Product Name"]},
    {label: ((data[0])[2])["Product Name"]},
    {label: ((data[0])[3])["Product Name"]},
    {label: ((data[0])[4])["Product Name"]}
    ]
    },{
    label: 'type 2',
    children: [
    {label: ((data[1])[0])["Product Name"]},
    {label: ((data[1])[1])["Product Name"]},
    {label: ((data[1])[2])["Product Name"]},
    {label: ((data[1])[3])["Product Name"]},
    {label: ((data[1])[4])["Product Name"]}
    ]
    },{
    label: 'type 3',
    children: [
    {label: ((data[2])[0])["Product Name"]},
    {label: ((data[2])[1])["Product Name"]},
    {label: ((data[2])[2])["Product Name"]},
    {label: ((data[2])[3])["Product Name"]},
    {label: ((data[2])[4])["Product Name"]}
    ]
    },{
    label: 'type 4',
    children: [
    {label: ((data[3])[0])["Product Name"]},
    {label: ((data[3])[1])["Product Name"]},
    {label: ((data[3])[2])["Product Name"]},
    {label: ((data[3])[3])["Product Name"]},
    {label: ((data[3])[4])["Product Name"]}
    ]
    },{
    label: 'type 5',
    children: [
    {label: ((data[4])[0])["Product Name"]},
    {label: ((data[4])[1])["Product Name"]}
    ]
    },{
    label: 'type 6',
    children: [
    {label: ((data[5])[0])["Product Name"]},
    {label: ((data[5])[1])["Product Name"]},
    {label: ((data[5])[2])["Product Name"]},
    {label: ((data[5])[3])["Product Name"]}
    ]
    },{
    label: 'type 7',
    children: [
    {label: ((data[6])[0])["Product Name"]},
    {label: ((data[6])[1])["Product Name"]},
    {label: ((data[6])[2])["Product Name"]},
    {label: ((data[6])[3])["Product Name"]},
    {label: ((data[6])[4])["Product Name"]}
    ]
    },{
    label: 'type 8',
    children: [
    {label: ((data[7])[0])["Product Name"]},
    {label: ((data[7])[1])["Product Name"]},
    {label: ((data[7])[2])["Product Name"]},
    {label: ((data[7])[3])["Product Name"]},
    {label: ((data[7])[4])["Product Name"]}
    ]
    }];
    $("#tree").tree({
    data:treemenu
    });
    });
    </script>



block content